{% extends "auctions/layout.html" %}

{% block body %}

    <h2>{{ page_heading }}</h2>

    {% if page_heading == "WATCHLIST LISTINGS" %}
        {% if watchlist_items_count == 0 %}
            <h1>No Items in your Watchlist<h1>
        {% endif %}
    {% endif %}

    {% if type == "CATEGORY_LISTING" %}
        {% if category_listing_count == 0 %}
            <h1>No Items in this Category<h1>
        {% endif %}
    {% endif %}

    {% for item in listings %}
        <a class="a_non_link active_listing_link_box" href="{% url 'listing' item.id %}">
            <div class="container-fluid active_listing_box">
                <div class="row">
                    <div class="col-3 listing_img_box">
                        <img class="listing_img" src="{{ item.image }}">
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-9">
                                <p class="listing_title">{{ item.title }}</p>
                            </div>
                            <div class="col-3 less_info_div">
                                <div class="row less_info_row">
                                    <div class="col-12">
                                        <p>{{ item.category }}</p>
                                    </div>
                                </div>
                                <div class="row less_info_row">
                                    <div class="col-12">
                                        <p>by {{ item.owner.username }}</p>
                                    </div>
                                </div>
                                <div class="row less_info_row">
                                    <div class="col-12">
                                        <p>on {{ item.date.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="listing_description">{{ item.description }}</p>
                            </div>
                        </div>
                        <div class="row listing_price_row">
                            <div class="col-12">
                                <p class="listing_price">Current Price: Rs. {{ item.current_price }}/-<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    {% endfor %}
{% endblock %}
