{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>AuctionIt{% block title %}{% endblock %}</title>

        <!--Page Icon in Tab-->
        <link rel="icon" href="{% static 'auctions/images/logo.png' %}">

        <!--Linking online .css file for social media icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Linking Bootstarp Packages-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Linking local .css file-->
        <link href="{% static 'auctions/css/styles.css' %}" rel="stylesheet">

    </head>

    <body>
        <div class="sticky-top navigation_bar">
            <nav class="navbar top_navbar">
                <a class="navbar-brand a_non_link nav_heading" href="{% url 'index' %}">
                    <img src="{% static 'auctions/images/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
                    AuctionIt.com
                </a>
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'auctions/images/user.png' %}" width="50" height="50">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item">Hello, {{ user.username }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'watchlist' %}">My Watchlist</a>
                            <a class="dropdown-item" href="{% url 'mylistings' %}">My Listings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a>
                        </div>
                    </div>
                {% else %}
                    <ul class="nav navigation_bar_no_user_ul">
                        <li class="nav-item">
                            <a class="nav-link a_non_link navigation_bar_no_user_a" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link a_non_link navigation_bar_no_user_a" href="{% url 'register' %}">Register</a>
                        </li>
                    </ul>
                {% endif %}
            </nav>
            <nav class="navbar below_navbar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link a_non_link navigating_link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link a_non_link navigating_link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'category' category_name='fashion' %}">Fashion</a>
                                <a class="dropdown-item" href="{% url 'category' category_name='furniture' %}">Furniture</a>
                                <a class="dropdown-item" href="{% url 'category' category_name='electronics' %}">Electronics</a>
                                <a class="dropdown-item" href="{% url 'category' category_name='games & toys' %}">Games & Toys</a>
                                <a class="dropdown-item" href="{% url 'category' category_name='motor vehicle' %}">Motor Vehicle</a>
                                <a class="dropdown-item" href="{% url 'category' category_name='property' %}">Property</a>
                                <a class="dropdown-item" href="{% url 'category' category_name='none' %}">Miscellaneous</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link a_non_link navigating_link" href="{% url 'closed_listings' %}">Closed Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link a_non_link navigating_link" href="{% url 'create' %}">Create Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link a_non_link navigating_link" href="{% url 'about' %}">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>

        {% block body %}
        {% endblock %}

    </body>
</html>
