{% extends "auctions/layout.html" %}

{% block title %}: Register{% endblock %}

{% block body %}

    {% if message %}
        <div class="center_message">{{ message }}</div>
        <br>
    {% endif %}

    <div class="form_box">
        <h2>Register</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary bid_button" type="submit" value="Register">
        </form>
        <hr class="cream_line">
        Already have an account?<br> <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}
